.App {
  text-align: center;
}

html {
  background: url("space.jpg") center;
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button, .btn {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  border: thin outset black;
  font-size: 15px;
  background: lightgray;
  padding: 1px 0;
  text-align: center;
}
