.dialog {
    background-color: white;
    color: black;
    height: 100px;
    width: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
}

.dialog form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-config {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.close-config svg {
    width: 24px;
    height: 24px;
}

.dialog input[type=text] {
    margin-left: 5px;
}

.dialog-buttons {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.dialog-buttons button {
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 5px;
}

div.settings-dialog {
    color: black;
    justify-content: flex-start;
}

.settings-dialog h2 {
    margin: 10px 0;
}

.settings-dialog input {
    margin-right: 10px;
}
